.order {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid rgb(211, 211, 211);
    background-color: #fff;
    position: relative;
}

.order__id {
    position: absolute;
    top: 40px;
    right: 20px;
}

.order__total_one {
    font-weight: 500;
    text-align: left;
}